@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.App {
  background-color: #0d0d0d;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  color: white;
  padding: 20px;
  position: fixed;
  border-bottom-right-radius: 15px;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #282c3400;
  color: white;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #282c3400;
  color: white;
}

.nav {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
}

.home-container {
  height: 100vh;
  background: url("/src/assets/img/oldhouse.gif") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  height: 50vh;
  padding: 40px;
  border-radius: 15px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.slogan {
  font-size: 40px;
}

.bio {
  font-size: 20px;
 text-align: center;
}

.about, .projects-section, .contact-section {
  background-color: #0d0d0d;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.aboutTitle {
  font-size: 40px;
  padding: 20px;
}

.aboutText {
  font-size: 20px;
  padding: 20px;
  width: 70vh;
  align-self: center;
  max-width: 90%;
}

.skillsImg {
  width: 50px;
  height: 50px;
  margin: 10px
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
  width: 50vh;
}

.main__scroll-text {
  color: rgb(255, 255, 255);
}

.main__action:hover .main__scroll-box {
  animation: scroll-down 3s infinite;
}

@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .flex-row {
    flex-direction: column;
  }
}

.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-card {
  background-color: #1d1d1d;
  color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card img {
  max-width: 300px;
  max-height: 300px;
}

/* From Uiverse.io by vinodjangid07 */ 
.card {
  width: fit-content;
  height: fit-content;
  background-color: #1D1D1D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  border-radius: 10px;
  align-self: center;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
  border-radius: 5px;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-bg {
  background-color: #1D1D1D;
  border-radius: 15px;
}

.separator {
  border-color: #3b3b3b;
}